.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 25rem;
  padding: 1em;
  border-radius: 3px;
}

header {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.date {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.date div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0.4em;
}

.date p {
  margin: 0;
  padding: 0;
}

#date {
  color: #2f3542;
}

#month {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  color: #57606f;
}

#year {
  font-size: 1em;
  font-weight: 400;
  color: #747d8c;
}

footer {
  position: relative;
  width: 90%;
  margin-top: 3em;
}

footer button {
  position: absolute;
  bottom: -60px;
  left: 35%;
  border-radius: 50%;
  width: 7em;
  height: 7em;
  border: none;
  background-color: #7bed9f;
}

footer button:hover {
  background-color: #2ed573;
  cursor: pointer;
}

button i:before {
  font-size: 3em;
  color: #2f3542;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  margin-left: 1em;
  margin-right: 2em;
  padding: 0.5em;
}

li:hover,
li:hover input {
  background-color: #dfe4ea;
}

li:hover .delete {
  visibility: visible;
}

.delete {
  visibility: hidden;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 35px;
  height: 35px;
  background-color: #ff6b81;
  border: none;
  border-radius: 50%;
}

.delete:hover {
  background-color: #ff4757;
  cursor: pointer;
}

.edit-button {
  background: none;
  border: none;
  border-radius: 50%;
  margin-right: 7px;
  height: 40px;
  width: 40px;
  text-align: center;
}

li i:before {
  font-size: 1.5em;
  color: #2f3542;
}

.edit-button:hover {
  background-color: #ced6e0;
  cursor: pointer;
}

li p {
  margin: 0;
  font-weight: 500;
  color: #2f3542;
}

li input {
  margin: 0;
  border: none;
  border-bottom: 1px solid #2f3542;
  font-weight: 500;
  color: #2f3542;
  width: 80%;
  padding: 8px;
}

.crossed-out {
  text-decoration: line-through;
  color: #a4b0be;
}
li div {
  display: flex;
  margin-right: 15px;
  margin-left: 15px;
}

.confirm-button {
  background-color: #7bed9f;
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
}

.confirm-button:hover {
  background-color: #2ed573;
  cursor: pointer;
}

.cancel-button {
  background-color: #ff6b81;
  border: none;
  border-radius: 50%;
  margin-left: 5px;
  height: 40px;
  width: 40px;
  text-align: center;
}

.cancel-button:hover {
  background-color: #ff4757;
  cursor: pointer;
}

/*
=====================
Checkbox
=====================
*/
.checkbox-wrapper {
  display: block;
  margin-left: auto;
  position: relative;
  padding-left: 35px;
  margin-right: 15px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 2px;
}

.checkbox-wrapper:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-wrapper input:checked ~ .checkmark {
  background-color: #2ed573;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-wrapper input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-wrapper .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
